.section .section_banner {
  background: #dda023;
  background: linear-gradient(90deg, #dda023 0%, rgba(182, 29, 62, 0.9956933457) 95%); }

.header .header-wrap .header_heading::after, .section .section_text::after, .section .section_banner .section_banner_heading::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  background-color: #ff4e33; }

body {
  margin: 0 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #21232e; }

.landing-logo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .landing-logo img {
    margin-right: 10px; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin-top: 1rem; }
    .landing-logo p span {
      font-size: 10px; }

.header {
  position: relative;
  background-image: url("../img/m-h-night.jpg");
  background-position: center;
  height: 600px;
  border-radius: 0 0 35% 0; }
  .header .header-wrap {
    position: absolute;
    width: 540px;
    margin: 0px auto 175px 100px;
    display: flex;
    flex-direction: column;
    text-align: initial;
    color: #fff; }
    .header .header-wrap .header_heading {
      font-size: 4rem;
      font-weight: bold;
      line-height: 100%;
      margin-top: 2.5rem;
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
      .header .header-wrap .header_heading::after {
        width: 270px;
        height: 50px;
        left: 0px; }
    .header .header-wrap .header_text {
      margin: 2.5rem auto; }
    .header .header-wrap .header_button {
      margin-right: 8rem;
      height: 50px;
      width: 140px;
      text-decoration: none;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      background-color: #e3ac00;
      color: #fff;
      border-radius: 3px; }
    .header .header-wrap .login {
      color: #fff;
      font-weight: 600; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .section .section_text {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    position: relative; }
    .section .section_text::after {
      width: 170px;
      height: 50px;
      right: 10px; }
  .section .section_card_wrap .section_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #3b3f50;
    border-radius: 5px; }
    .section .section_card_wrap .section_card .section_card_right_container {
      display: flex;
      flex-direction: column;
      width: 420px;
      margin: auto;
      text-align: center;
      color: #b0b1b8; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
        text-align: justify;
        font-size: 15px; }
      .section .section_card_wrap .section_card .section_card_right_container .section_link {
        color: #b0b1b8; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff; }
    .section .section_card_wrap .section_card .section_card_img {
      height: auto;
      width: 405px; }
  .section .section_banner {
    position: absolute;
    bottom: -21%;
    width: 48rem;
    padding: 1.3rem 9rem 2rem 9rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section .section_banner .section_banner_button {
      height: 50px;
      width: 140px;
      text-decoration: none;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      background-color: #e3ac00;
      color: #fff;
      border-radius: 3px; }
    .section .section_banner .section_banner_heading {
      position: relative;
      z-index: 1;
      margin: 0px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #fff; }
      .section .section_banner .section_banner_heading::after {
        width: 60px;
        height: 45px;
        left: 115px; }
    .section .section_banner .section_banner_text {
      color: #b0b1b8; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  padding: 2.5rem 10rem 0 10rem;
  height: 150px;
  background-color: #3b3f50;
  color: #b0b1b8; }
  .footer-wrap .footer_text {
    width: 290px;
    text-align: justify;
    font-size: 14px;
    margin: 0px; }
