$body_color: #fff;
$logo_height: 600px;
$img_light: url("../img/m-h-day.jpg");
$header_border_r: 0 0 35% 0;
$background_color: #20222c;
$font_head_color: #2b2e3b;
$font_container_color: #b0b1b8;
$after_color: #14a0c7;
$button_color: #699900;
$after_width: (
    "header_width":270px,
    "section_header_width":170px,
    "banner_header_width":60px
);
$after_height: (
    "header_height":50px,
    "section_height":50px,
    "footer_height":45px
);
%banner_gradient {
    background: rgb(71,128,30);
    background: linear-gradient(90deg, rgba(71,128,30,1) 0%, rgba(11,69,158,0.9956933456976541) 95%);
} 
%after_style {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0px;
    background-color: $after_color;
}

