#root {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #fff;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

#item {
    list-style: none;
}

#inner_item {
    display: flex;
}

#folder {
    color: #fdb900;
    margin-right: 5px;
}

#file {
    color: grey;
    margin-right: 5px;
}

li {
    display: flex;

    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    padding-left: 5px;
}

li:hover {
    background-color: rgba(89, 180, 233, 0.699);
    border-radius: 3px;
}

p {
    margin: 0;
}

#c_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #fff;
    width: 80px;
    height: 40px;
    position: fixed;
    padding: 2px;
    border-radius: 3px;
    opacity: 1;
    background-color: #fff;
}

#input_field {
    border-radius: 3px;
}

#item_wrapper {
    display: flex;
    width: 100%
}
